@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.principalfaq{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 100px;
}

.texto{
    width: 90%;
    height: 300px;
}

.caixamens{
    width: 50%;
    margin-left: 3%;
}

.caixaresp{
    width: 30%;
    height: 80vh;
    overflow-y: scroll;
}

.texto textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    color: #1f0025;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    transition: 0.6s;
    height: 300px;
}

.texto span{
   position: absolute;
   left: 3%;
   top: 190px;
   padding: 10px;
   pointer-events: none;
   font-size: 1em;
   color: #ccc;
   text-transform: uppercase;
   transition: 0.5s;
   font-weight: 500;
}

.texto textarea:valid ~ span,
.texto textarea:focus ~ span{
    color:#fff;
    transform: translateX(10px) translateY(-6px);
    font-size: 0.75em;
    padding: 0 10px;
    background-color: #1f0025;}

.texto textarea:valid,
.texto textarea:focus{
    border: 1px solid #1f0025;}


.caixamens button{
    background-color: #1f0025;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    cursor: pointer;
    margin-top: 4%
}